@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@layer base {
  body {
    @apply w-full;
    /* font-family: "Open Sans", sans-serif; */
    background-color: #1a1d1f;
  }
}

@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf")
    format("truetype");
}
@font-face {
  font-family: "Product Sans";
  src: url("./fonts/product-sans/Product\ Sans\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Druk Wide";
  src: url("./fonts/Druk_Collection/Druk\ Text\ Wide\ Family/.ttf")
    format("truetype");
}

.footer-font {
  font-family: "Integral CF";
}

.large-font {
  font-family: "Druk Wide";
}

.text-font {
  font-family: "Product Sans";
}
